@import './additional-styles/themes.module.css';
/* header.module.css */
/* Button Style for Header */
.buttonStyle {
    color: #FFFFFF;
    background-color: transparent;
    transition: background-color 0.3s ease;

    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.buttonStyle:hover {
    background-color: rgba(100, 20, 45, 0.67);
}

.logoImage:hover {
    animation: fadeInShadow 0.5s forwards !important;
}

@keyframes fadeInShadow {
    0% {
        filter: drop-shadow(5px 5px 10px transparent);
    }
    100% {
        filter: drop-shadow(5px 5px 10px rgba(155, 51, 50, 0.5));
    }
}

/* bold text style*/
.boldText {
    font-weight: bold;
}

/* Enlarges images in Gallery */
.hoverScale, .hoverGlow {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hoverScale:hover {
    transform: scale(1.05);
}

.hoverGlow:hover {
    box-shadow: 0 0 10px #e97431;
}

/*General Glow*/
.glow {
    box-shadow: 0 0 10px #e97431;
}


.shadow-text {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/*full width function*/
.full-width {
    width: 100vw;
}
/*Image size function*/
.imageSize {
    width: 360px;
    height: 110px;
}


