.headerGradient {
    background: linear-gradient(274deg, #bc265d, #da533e, #f4b144);
    background-size: 100% 100%;
}

.regGradient {
    background: linear-gradient(274deg, #bc265d, #da533e, #f4b144);
    background-size: 100% 100%;
}

.regGradient:hover {
    background: linear-gradient(274deg, rgba(188, 38, 93, 0.8), rgba(218, 83, 62, 0.8), rgba(244, 177, 68, 0.8));
}